<%- include index1.ejs %>
    <div class="container-fluid">
        <h1>欢迎来到GG</h1>
        <p>GG是系统</p>
        <p>
        <a href="/login" class="btn btn-primary btn-large">登录</a>
        <a href="/reg" class="btn btn-default active">立即注册</a>
        </p>
    </div>
    <div class="well">
        <div class="span4">
            <h2>car说</h2>
            <p>哈哈</p>
        </div>
        <div class="span4">
            <h2>佛说</h2>
            <p>呵呵</p>
        </div>
        <div class="span4">
            <h2>我说</h2>
            <p>哦</p>
        </div>
    </div>

